
@{
    ViewData["Title"] = "About";
}


<div class="container" style="margin-top:40px">
    <div class="row">
        <div class="col-5">
            <p></p>
            <p></p>
            <img class="pl-5" src="~/image/logo1.jpg"/>
        </div>
        <div class="col-7">
            <h3>Games OnlineShop</h3>
            <p>地址: 110台北市信義區信義路五段7號</p>
            <p>電話: 02-123-4567</p>
            <p>E-Mail: GamesOnlineShop@@it.com.tw</p>
        </div>
    </div>
</div>
<hr />
<p></p>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3615.007812261593!2d121.56236741544684!3d25.033808944451987!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442abb6da80a7ad%3A0xacc4d11dc963103c!2z5Y-w5YyXMTAx!5e0!3m2!1szh-TW!2stw!4v1631050967180!5m2!1szh-TW!2stw" width="1100" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

